/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

html {
	--primary-color: rgb(219, 219, 6);
	--background-color: rgb(216, 216, 200);
	--secondary-color: rgb(207, 138, 11);
	--text-color: rgb(85, 57, 4);
	--secondary-negative-color: rgb(247, 245, 241);
}

.oswald-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.oswald-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.oswald-card-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

body {
	height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
}

header {
	color: var(--secondary-color);
	height: 60px;
}

#header-main {
	margin: auto;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

#site-title {
	font-size: 3rem;
	font-weight: 800;
	margin-top: 10px;
}

nav {
	width: 300px;
}

#main-nav {
	height: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.3rem;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: var(--text-color);
}

.nav-link:hover {
	text-decoration: underline;
	transition: 0.2s;
}

main {
	max-width: 1000px;
	margin: auto;
	box-sizing: border-box;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

img {
	height: 230px;
	width: 150px;
	overflow: hidden;
	border-radius: 5px;
}

.film-card {
	height: 250px;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}

.film-image-container {
	height: 230px;
	width: 150px;
}

.film-title a {
	text-decoration: none;
	color: var(--text-color);
}

.film-title a:hover {
	text-decoration: underline;
	transition: 0.4s;
}

.genre-list a {
	color: var(--text-color);
}

.button-section {
	display: flex;
	justify-content: space-between;
}

.button-section a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1.3rem;
	color: rgb(63, 43, 7);
	box-sizing: border-box;
	padding: 3px;
	width: 50%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-section a:hover {
	color: var(--secondary-color);
	transition: 0.4s;
}

.delete-button {
	border: none;
	outline: none;
	background-color: var(--background-color);
	width: 100%;
	height: 100%;
	font-weight: 400;
	color: rgb(63, 43, 7);
	box-sizing: border-box;
	padding: 3px;
	display: flex;
	justify-content: end;
}

.delete-button:hover {
	color: var(--secondary-color);
	transition: 0.4s;
	cursor: pointer;
}

.delete-form {
	width: 50%;
}

.form {
	height: 450px;
	min-width: 500px;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
}

#form-header {
	background-color: var(--secondary-color);
	box-sizing: border-box;
	padding: 30px;
	color: var(--secondary-negative-color);
	font-size: 2rem;
}

#form-body {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	padding: 30px;
	font-size: 1.2rem;
}

.form-section {
	display: flex;
	justify-content: space-between;
}

.form-input {
	width: 70%;
	height: 15px;
	color: var(--text-color);
	border: 1px solid var(--secondary-color)
}

.form-input:focus {
	outline-color: var(--secondary-color);
}

.form-button {
	background-color: var(--secondary-color);
	border: none;
	outline: none;
	height: 20px;
	border-radius: 5px;
	color: var(--secondary-negative-color);
	box-sizing: border-box;
	padding: 2px;
}

.genre-input-section {
	position: relative;
}

.genre-selection-menu {
	position: absolute;
	width: 71%;
	left: 28.5%;
	background-color: rgb(241, 240, 236);
	border: 1px solid var(--secondary-color);
}

.genre-selection-element {
	box-sizing: border-box;
	padding: 3px;
}

.genre-selection-element:hover {
	background-color: var(--secondary-color);
	color: white;
	cursor: pointer;
}

.menu-item-focus {
	background-color: var(--secondary-color);
	color: white
}

.genre-display {
	height: 50px;
	margin-top: 15px;
	background-color: rgb(228, 228, 213);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 10px;
}

.genre-display-element {
	height: 20px;
	box-sizing: border-box;
	padding: 5px;
	font-size: 0.9rem;
	background-color: var(--secondary-color);
	color: var(--secondary-negative-color);
	text-align: center;
	border-radius: 3px;
	display: flex;
	gap: 5px;
	align-items: center;
}

.genre-display-placeholder {
	width: 100%;
	color: rgb(189, 185, 174);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.close-button {
	background-color: var(--secondary-color);
	border: none;
	outline: none;
	color: var(--secondary-negative-color);
	width: 10px;
	height: 10px;
	padding: 0px;
}

.close-button:hover {
	cursor: pointer;
}

.add-new-genre {
	font-size: 1rem;
}

.new-genre-span {
	font-weight: 400;
}

.message {
	background-color: rgb(206, 139, 113);
	color: rgb(65, 4, 4);
	text-align: center;
	width: 1000px;
	padding: 2px;
	margin: auto;
	margin-bottom: 2px;
}

.error-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	gap: 50px;
	font-size: 3rem;
	margin-top: 100px;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.genres-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.genre-card {
	width: 100%;
	margin-bottom: 80px;
	border-bottom: solid 1px rgb(189, 166, 126);
}

.genre-title {
	height: 25px;
	font-size: 1.3rem;
	border-bottom: solid 1px rgb(189, 166, 126);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.film-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 1.2rem;
}

.film-section {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 3px 5px;
}

.film-section:hover {
	text-decoration: underline;
}

.film-thumbnail {
	object-fit: cover;
	object-position: 25% 25%;
	width: 25px;
	height: 25px;
}

.film-descriptor {
	text-decoration: none;
	color: var(--text-color);
}

.single-film-card {
	width: 700px;
	display: flex;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	margin: auto;
}

.single-film-image {
	width: 200px;
}

.single-film-details {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.single-film-title {
	font-size: 2rem;
}

.single-film-element {
	font-size: 1.5rem;
}

.single-film-button {
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
}

.single-film-button-section {
	width: 100%;
	justify-content: space-evenly;
}

.single-genres {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}